* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.container {


    display: flex;
    flex-direction: column;
   
    width: 1000px;
    height: fit-content;
    min-height: 500px;

    align-items: center;
}

.header {

    width: 100%;
    height: 50px;

    margin: 20px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    
}

.main {


    width: 90%;
    height: fit-content;
    min-height: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;

    justify-content: center;
    padding-left: 15px;


    @media (max-width: 801px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 601px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 401px) {
        grid-template-columns: 1fr 1fr;
    }
}


.foods {

    width: 90%;
    min-width: 120px;
    height: 210px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border: 1px solid rgb(122, 122, 122);

    .foods__image {
        display: block;
        width: 80%;
        height: 60%;
        object-fit: cover;
    }

    .foods__name {
        width: 100%;
        height: 20%;

        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;

        }
    
}


.footer {

    
    width: 90%;
    height: 50px;

    margin: 20px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    border-top: 1px solid black;

}